<div class="header">
    <div class="container">
        <div class="sixteen columns">
            <a href="index.html" class="logo"><img src="images/logo.png" width="56" height="25" alt="Start"></a>
            <p class="ph-no">For Sales Call For A Chat: 1800 234 4271</p>
            <!--navigation start-->
            <div class="nav-cont">

                <ul>
                    <li><a href="features.html" class="nav1">Features</a></li>
                    <li><a href="pricing.html" class="navgit2">Pricing</a></li>
                    <li><a href="faq.html" class="nav3">FAQ</a></li>
                    <li><a href="blog.html" class="nav3">Blog</a></li>
                </ul>

            </div>
            <!--navigation end-->
            <!--<br class="spacer" />-->
        </div>
    </div>
</div>

<div class="container">
    <div id="responsiveNavi">
        Home
        <span>&nbsp;</span>
    </div>
    <select id="menu-primary" class="select-menu" style="z-index: 10; opacity: 0; -webkit-appearance: none; ">

        <option value="index.html" selected="selected">Home</option>
        <option value="features.html">Features</option>
        <option value="pricing.html">Pricing</option>
        <option value="faq.html">FAQ</option>
        <option value="blog.html">Blog</option>tawu

    </select>
</div>

